include README.md
include py.typed
include pyproject.toml
include scripts/build_assets.py
recursive-include tarko_agent_ui *.py
recursive-include tarko_agent_ui/static *
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .pytest_cache
global-exclude .mypy_cache
global-exclude .coverage
global-exclude htmlcov
